<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Arkham</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Game
        </h1>
        <div class="tile is-ancestor">
            <div class="tile is-">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification">
                        <p class="title">Scenario</p>
                    </article>
                </div>
            </div>
            <div class="tile is-8">
                <div class="tile is-parent is-vertical">
                    <p class="title">Players</p>
                    <article class="tile is-child is-info">
                        <p class="title">Vertical...</p>
                        <p class="subtitle">Top tile</p>
                    </article>
                    <article class="tile is-child is-info">
                        <p class="title">...tiles</p>
                        <p class="subtitle">Bottom tile</p>
                    </article>
                </div>
            </div>
        </div>
</section>
</body>
</html>